html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signup {
  max-width: 500px;
  padding: 15px;
  
}

.form-signup img{
  border: 5px solid rgb(77, 22, 129);
  box-shadow: -5px 5px 5px rgba(49, 43, 6, 0.3);
  border-radius: 20px;
  padding: 2px;
  margin-bottom: 10px;
}
.form-signup h1{
  height: 50px;
  width: auto;
  font-size: 40px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: -5px 5px 3px rgba(49, 43, 6, 0.3);
  
}
.first{
    box-shadow: -5px 5px 5px rgba(49, 43, 6, 0.3);
    height: 60px ;
    border: 1px solid grey;
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.last{
    box-shadow: -5px 5px 5px rgba(49, 43, 6, 0.3);
    height: 60px ;
    border: 1px solid grey;
  margin-bottom: -1px;
  border-radius: 0;
}

.email {
    box-shadow: -5px 5px 5px rgba(49, 43, 6, 0.3);
    height: 60px ;
    border: 1px solid grey;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn{
  box-shadow: -5px 5px  5px rgba(49, 43, 6, 0.3);
}
.cpyrt{
  text-shadow: -5px 5px 3px rgba(49, 43, 6, 0.3);
}